<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pug proj</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
      <div class="container">
        <h3>Register Here</h3>
        <h3> To Join our Target GYM</h3>
        <form action="/" method="POST" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter name:">
            <input type="email" name="gmail" id="gmail" placeholder="Enter Gmail Address:">
            <input type="password" name="password" id="password" placeholder="Enter Password:">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender:">
<textarea name="comment" id="" cols="30" rows="10" placeholder="Write your opinion:"></textarea>    
<button id="btn">SUBMIT</button>   
 </form>
    </div>
</body>
</html>